.product_main {
    margin: 10px;
    border: 1px solid #ffc107;
}
#products {
    justify-content: center;
}
.product_main:hover {
    box-shadow: 0px 0px 20px #ffc107;
}
.product_main img {
    height: 215px;
    width: 100%;
}
.description {
    height: 50px;
    overflow: hidden;
}
